<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appbanhang">
        
        <!-- Splash Activity (Entry Point) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Login & Register -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        
        <!-- Main -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        
        <!-- Product Details -->
        <activity
            android:name=".ProductDetailActivity"
            android:exported="true" />

        <activity
            android:name=".AddToCartActivity"
            android:exported="true" />
        
        <!-- Cart -->
        <activity
            android:name=".CartActivity"
            android:exported="true" />
        
        <!-- Billing Address -->
        <activity
            android:name=".BillingAddressActivity"
            android:exported="true" />
        
        <!-- Payment -->
        <activity
            android:name=".PaymentActivity"
            android:exported="true" />
        
        <!-- Order Success -->
        <activity
            android:name=".OrderSuccessActivity"
            android:exported="true" />

        <activity
            android:name=".OrderHistoryActivity"
            android:exported="true" />
        
        <!-- Wishlist -->
        <activity
            android:name=".WishlistActivity"
            android:exported="true" />
        
        <!-- Account -->
        <activity
            android:name=".AccountActivity"
            android:exported="true" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="true" />

        <activity
            android:name=".AccountInfoActivity"
            android:exported="true" />
        
    </application>

</manifest>
